<div class="bg-gray-50 w-full h-screen">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 h-screen mx-auto"
  >
    <div class="border-4 mx-w-md border-gray-900 bg-white rounded-lg shadow-md">
      <div class="p-6 space-y-6">
        <h1 class="text-2xl font-medium text-gray-900">
          Login Into Your Account Your Email
        </h1>
        <div *ngIf="isError" class="py-3 px-10 bg-red-300 font-thin text-lg">
          The Username or Password is Wrong
        </div>
        <form
          class="space-y-6"
          [formGroup]="formGroup"
          (ngSubmit)="onSubmit(formGroup.value)"
        >
          <div class="flex flex-col">
            <label for="email" class="mb-2 text-sm font-medium text-gray-900"
              >Your Email</label
            >
            <input
              formControlName="email"
              type="text"
              placeholder="Email"
              id="email"
              name="email"
              class="border-2 border-gray-900 rounded-lg w-full p-2.5 bg-gray-50 text-gray-900"
            />

            <div
              class="bg-red-400 py-3 mt-3 px-5 font-thin"
              *ngIf="
                formGroup.controls['email'].touched &&
                formGroup.controls['email'].invalid &&
                (formGroup.controls['email'].dirty ||
                  formGroup.controls['password'].dirty)
              "
            >
              Email must be completed
            </div>
          </div>
          <div class="flex flex-col">
            <label for="password" class="mb-2 text-sm font-medium text-gray-900"
              >Password</label
            >
            <input
              formControlName="password"
              type="password"
              placeholder="********"
              id="password"
              name="password"
              class="border-2 border-gray-900 rounded-lg w-full p-2.5 bg-gray-50 text-gray-900"
            />
            <div
              class="bg-red-400 py-3 mt-3 px-5 font-thin"
              *ngIf="
                formGroup.controls['password'].touched &&
                !formGroup.controls['password'].value &&
                formGroup.controls['password'].invalid
              "
            >
              Password must be completed
            </div>
          </div>

          <button
            [disabled]="!formGroup.valid"
            type="submit"
            class="<%= !formGroup.valid ? 'hover:bg-gray-900' : '' %> text-center border-2 mt-0 bg-gray-800 text-white border-white font-medium w-full py-2.5 px-5 rounded-lg shadow-md"
          >
            Sign In
          </button>
          <button
          (click)="onEnterGoogle()"
          type="button"
          class=" text-center border-2 mt-4  hover:bg-slate-200  items-center flex justify-center gap-1 text-black border-gray-900 font-medium w-full py-2.5 px-5 rounded-lg shadow-md"
        >
        
          Enter With Google 
          <i class="fa fa-google  text-xl  ml-1"></i>



        </button>
        </form>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center w-96 mt-4">
      <a
        routerLink="/singUp"
        type="button"
        class="text-center text-black font-medium hover:text-gray-700"
      >
        Don't have an Account?
      </a>
    </div>


  </div>
  <div class="absolute bottom-1 right-0 left-0">
    <p class=" text-sm text-center ">© 2023 · oneKeyy by Emmanuel Heredia · All rights reserved</p>
</div>
</div>
