<app-navbar></app-navbar>
<div class="container my-16 mx-auto px-4">


      
  <div class="grid grid-cols-2 gap-5 mt-5">
    <div class="border-2 border-gray-900 shadow-lg">
      <img [src]="siteInfo.siteImgUrl" alt="" class="w-full" />

      <h3 class="text-3xl font-bold p-3 text-black">{{ siteInfo.siteName }}</h3>
      <div class="grid grid-cols-3 gap-3 my-1 p-3">
        <div
          class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm"
        >
        <a  target="_blank" [href]="siteInfo.siteUrl">{{ siteInfo.siteUrl }}</a>
   
          
        </div>
      </div>
    </div>
    <div class="px-20 py-10 mb-10 border-4 border-gray-900">
      <h2 class="text-3xl text-center">{{formStatus}} User & Password</h2>
      <p>You can add new User & Password from the below form</p>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
        <div class="flex flex-col">
          <label for="" class="text-lg font-medium mb-2">Email</label>
          <input
            type="email"
            name="email"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
            formControlName = 'email'
          />
          <div
              class="bg-red-400 py-3 mt-3 px-5 font-thin"
              *ngIf="
                !formGroup.controls['email'].valid &&
                formGroup.controls['email'].touched
              "
            >
              Email must be completed
            </div>
        </div>
        <div class="flex flex-col">
          <label for="" class="text-lg font-medium mb-2">Username</label>
          <input
            type="text"
            name="username"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
            formControlName = 'username'
            
            
          />

          <div
              class="bg-red-400 py-3 mt-3 px-5 font-thin"
              *ngIf="
                !formGroup.controls['username'].valid &&
                formGroup.controls['username'].touched
              "
            >
              Email must be completed
            </div>

        </div>
        <div class="flex flex-col">
          <label for="" class="text-lg font-medium mb-2">Password</label>
          <input
            type="password"
            name="password"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
          formControlName = "password"
      
            
          />
          <div
              class="bg-red-400 py-3 mt-3 px-5 font-thin"
              *ngIf="
                !formGroup.controls['password'].valid &&
                formGroup.controls['password'].touched
              "
            >
              Email must be completed
            </div>
        </div>
        <button
        [disabled]="!formGroup.valid"
          class="py-3 text-white px-5 mx-0.5 bg-gray-900 rounded-lg shadow-md mt-10 text-sm"
        >
          {{formStatus}} Password
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="isSuccess" class="py-4 w-full px-3 bg-green-300 mt-3">
    <p class="text-xl font-light">{{ popText }}</p>
  </div>

  <div class="grid grid-cols-1 mt-6">
    <table class="bordder-2 border-gray-900">
      <thead>
        <tr class="bg-gray-300 p-52 h-14 text-left">
          <th class="border-2 border-gray-900 p-3">Email</th>
          <th class="border-2 border-gray-900 p-3">Username</th>
          <th class="border-2 border-gray-900 p-3">Password</th>
          <th class="border-2 border-gray-900 p-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let password of sitePasswords, let i = index" class="h-14">
          <td class="border border-gray-900 p-3">{{password.email}}</td>
          <td class="border border-gray-900 p-3">{{password.username}}</td>
          <td class="border border-gray-900 p-3">{{password.password}}
            <button 
            
            class=" mx-0.5 px-5 py-1 text-sm border-2 bg-red-500 text-white  shadow-lg rounded-md"
            (click)="onDecryptPassword(password.password, i)"
          >
            {{decrypStatus}}
          </button></td>
          <td class="border border-gray-900 p-3">
            <button
              class=" mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow-lg rounded-md"
              (click)="onEditPassword(password)"
              
            >
              Edit
            </button>
            <button
              class="mt-2 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow-lg rounded-md"
              (click)="onDelitePassword(password.id)"
              
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
