<app-navbar></app-navbar>
<div class="container mx-auto px-4 ">
  <h1 class="text-5xl mt-10 mb-8">oneKeyy Password Manager</h1>
  <p class="mb-5 text-lg">
    With our app, you can safely store your passwords and usernames for all your
    favorite websites in one place. You will never have to worry about
    forgetting your login credentials again.
  </p>
  <button
    [disabled]="!formGroup.valid"
    (click)="onSubmit(formGroup.value)"
    class="mb-5 mx-0 py-2 px-4 border-2 text-sm bg-gray-900 text-white shadow rounded-md"
  >
    Add New Site
  </button>

  <!-- site generator -->

  <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
    <h2 class="text-3xl text-center">{{ formState }} Site</h2>
    <p class="text-center text-xl">you can {{ formState }} site below form</p>

    <!-- form generator -->
    <form
      [formGroup]="formGroup"
      id="id"
      (ngSubmit)="onSubmit(formGroup.value)"
    >
      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Name</label>
        <input
          formControlName="siteName"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteName"
        />
        <div
          class="bg-red-400 py-3 mt-3 px-5 font-thin"
          *ngIf="
            !formGroup.controls['siteName'].valid &&
            formGroup.controls['siteName'].touched
          "
        >
          Site Name must be completed
        </div>
      </div>

      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Url</label>
        <input
          formControlName="siteUrl"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteUrl"
        />
        <div
          class="bg-red-400 py-3 mt-3 px-5 font-thin"
          *ngIf="
            !formGroup.controls['siteUrl'].valid &&
            formGroup.controls['siteUrl'].touched
          "
        >
          Site Url must be completed
        </div>
      </div>

      <div class="flex flex-col">
        <label for="" class="text-lg font-medium mb-2">Site Image Url</label>
        <input
          formControlName="siteImgUrl"
          type="text"
          class="border-2 border-gray-900 p-2 rounded-lg w-full"
          name="siteImgUrl"
        />
        <div
          class="bg-red-400 py-3 mt-3 px-5 font-thin"
          *ngIf="
            !formGroup.controls['siteImgUrl'].valid &&
            formGroup.controls['siteImgUrl'].touched
          "
        >
          Site Image must be completed
        </div>
      </div>
      <button
        type="submit"
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
        [disabled]="!formGroup.valid"
      >
        {{ formState }} Site
      </button>

      <button
        (click)="onCancel()"
        [disabled]="!formGroup.valid"
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-100 text-black shadow rounded-xm border-2 border-gray-700 rounded-md"
      >
        Cancel
      </button>
    </form>
  </div>

  <div *ngIf="isSuccess" class="py-4 my-5 w-full px-3 bg-green-300">
    <p class="text-xl font-light">{{ popText }}</p>
  </div>
  <!-- cards lists -->

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-1">
    <div *ngFor="let site of allSites" class="shadow-lg border-2">
      <img [src]="site.siteImgUrl" alt="banner" />
      <h3 class="p-3 text-xl font-bold">{{ site.siteName }}</h3>
      <div class="w-60 px-3 bg-blue-200 ml-2 text-blue-800 rounded-lg text-sm">
        {{ site.siteUrl }}
      </div>
      <div class="flex flex-row flex-nowrap">
        <button
          class="ml-2 my-3 mx-0.5 py-2 md:py-0 text-sm px-5 border-2 bg-gray-900 text-white rounded-md shadow"
          routerLink="/password-list"
          [queryParams]="{
            id: site.id,
            siteName: site.siteName,
            siteUrl: site.siteUrl,
            siteImgUrl: site.siteImgUrl
          }"
        >
          Add New Password
        </button>

        <button
          class="my-3 mx-0.5 py-2 md:py-0 text-sm px-3 border-2 border-gray-700 text-black rounded-lg shadow"
          (click)="editSite(site)"
        >
          Edit
        </button>
        <button
          class="my-3 mx-0.5 text-sm md:py-0 py-2 px-5 border-2 border-gray-700 text-black rounded-lg shadow"
          (click)="deliteSite(site)"
        >
          Delite
        </button>
      </div>
    </div>
  </div>
  <div class="mt-7">
    <p class="text-sm text-center">
      © 2023 · oneKeyy by Emmanuel Heredia · All rights reserved
    </p>
  </div>
</div> 
