<div class="container mx-auto p-8 h-screen">
  <header>
    <h1 class="text-4xl text-center mt-10 mb-4 font-medium">oneKeyy</h1>
    <p class="text-center text-lg">
      Your key to save your passwords and users in a safe and organized way.
    </p>
  </header>
  <div class="flex justify-center items-center mt-11">
    <section
      class="w-full flex flex-col md:flex-row border-2 border-gray-800 p-3 py-10 md:py-0 rounded-lg shadow-lg bg-slate-600"
    >
      <div class="w-1/2 mx-auto">
        <img src="../../assets/undraw_coding_re_iv62 .svg" alt="img" />
      </div>
      <div
        class="w-1/2 mx-auto mt-10 flex flex-col items-center justify-center"
      >
        <h2 class="text-center text-lg mb-5">start here</h2>
        <div class="flex flex-col md:gap-2 md:flex-row">
          <button
            class="mb-2 md:mb-0 px-6 py-3 text-sm bg-gray-800 hover:bg-gray-900 text-white shadow-lg rounded-md"
            routerLink="/login"
          >
            Login
          </button>
          <button
            class="px-4 py-3 text-sm bg-gray-800 hover:bg-gray-900 text-white shadow-lg rounded-md"
            routerLink="/singUp"
          >
            SingUp
          </button>
        </div>
      </div>
    </section>
  </div>
  <div class="absolute bottom-1 right-0 left-0">
    <p class=" text-sm text-center ">© 2023 · oneKeyy by Emmanuel Heredia · All rights reserved</p>
</div>

  
</div>
